h1, h2{
    font-family: 'Bebas Neue', cursive;
}

section{
    font-family: 'Roboto', sans-serif;
}

.header-container{
    width: 100%;
    height: 715px;
    background-color: #FFF9F4;
}

.logo{
    width: 300px;
    height: 40px;
}

.text-color{
    color: #FA804C;
}

.top-shoe-img{
    width: 407px;
    height: 407px;
}

.btn img{
    width: 24px;
    height: 24px;
}

.btn-container{
    width: 170px;
}

.shoe-img{
    width: 311px;
    height: 311px;
}

.card-footer p{
    font-size: 30px;
    font-weight: 700;
}

.shoes-bg{
    background-color: #F1F1F1;
}

.card-radius{
    border-radius: 20px;
}

.button{
    border-radius: 10px;
    background: linear-gradient(180deg, #3D4FF3 0%, #3543BC 100%);
}

.bold{
    font-weight: 700;
}

.footer-img{
    width: 80px;
    height: 80px;
}

.slide-bg{
    background-color: #FFF9F4;
    height: 250px;
}

.footer-container{
    width: 100%;
    height: 200px;
}