.centering{
    text-align: center;
}

.selected{
    border-left: 3px solid black;
    height: 1000px;
}

.content-table{
    border-collapse: collapse;
    margin: 50px 0;
    font-size: 1.2em;
    width: 100%;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr{
    background-color: #009879;
    color: #fff;
    font-weight: bold;
}

.content-table tbody tr{
    border-bottom: 1px solid #ddd;
}

.content-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
}